---
apiVersion: v1
kind: Service
metadata:
  name: dasdasda-delegate-service
  namespace: test-bg
spec:
  type: ClusterIP
  selector:
    app: example-app
  ports:
    - port: 8080

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-deploy
  namespace: test-bg
  labels:
    app: example-app
  annotations:
spec:
  selector:
    matchLabels:
      app: example-app
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: example-app
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
